Session/resources/Session.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ses="http://remotelabs.eng.uts.edu.au/schedserver/session" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Session" targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/session">
  <wsdl:types>
    <xsd:schema targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/session">
      <xsd:element name="getSessionInformation" type="ses:UserIDType">
      </xsd:element>
      <xsd:element name="getSessionInformationResponse"
      	type="ses:SessionType">
      </xsd:element>
      <xsd:element name="finishSession" type="ses:UserIDType">
      </xsd:element>
      <xsd:element name="finishSessionResponse"
      	type="ses:InSessionType">
      </xsd:element>

      <xsd:complexType name="UserIDType">
      	<xsd:complexContent>
      		<xsd:extension base="ses:OperationRequestType">
      			<xsd:sequence>
      				<xsd:element name="userID" type="xsd:int" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:sequence maxOccurs="1" minOccurs="0">
      					<xsd:element name="userName"
      						type="xsd:string" maxOccurs="1" minOccurs="0">
      					</xsd:element>
      					<xsd:element name="userNamespace"
      						type="xsd:string" maxOccurs="1" minOccurs="0">
      					</xsd:element>
      				</xsd:sequence>
      				<xsd:element name="userQName"
      					type="xsd:string" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="OperationRequestType">
      	<xsd:sequence>
      		<xsd:element name="requestorID" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:sequence maxOccurs="1" minOccurs="0">
      			<xsd:element name="requestorName" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="requestorNamespace"
      				type="xsd:string" maxOccurs="1" minOccurs="0">
      			</xsd:element>
      		</xsd:sequence>
      		<xsd:element name="requestorQName" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="SessionType">
      	<xsd:complexContent>
      		<xsd:extension base="ses:InSessionType">
      			<xsd:sequence>
      				<xsd:element name="isReady" type="xsd:boolean" maxOccurs="1" minOccurs="0">
      				</xsd:element>
                            <xsd:element name="isCodeAssigned" type="xsd:boolean" maxOccurs="1" minOccurs="0">
      				</xsd:element>
                            <xsd:element name="resource"
      					type="ses:ResourceIDType" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="contactURL"
      					type="xsd:string" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="time" type="xsd:int" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="timeLeft" type="xsd:int" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="extensions" type="xsd:int" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="warningMessage"
      					type="xsd:string" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="InSessionType">
      	<xsd:sequence>
      		<xsd:element name="isInSession" type="xsd:boolean"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="ResourceIDType">
      	<xsd:sequence>
      		<xsd:element name="type" type="xsd:string"></xsd:element>
      		<xsd:element name="resourceID" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="resourceName" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getSessionInformationRequest">
    <wsdl:part element="ses:getSessionInformation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getSessionInformationResponse">
    <wsdl:part element="ses:getSessionInformationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="finishSessionRequest">
  	<wsdl:part name="parameters" element="ses:finishSession"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="finishSessionResponse">
  	<wsdl:part name="parameters" element="ses:finishSessionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Session">
    <wsdl:operation name="getSessionInformation">
      <wsdl:input message="ses:getSessionInformationRequest"/>
      <wsdl:output message="ses:getSessionInformationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="finishSession">
    	<wsdl:input message="ses:finishSessionRequest"></wsdl:input>
    	<wsdl:output message="ses:finishSessionResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SessionSOAP" type="ses:Session">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="getSessionInformation">
  		<soap:operation
  			soapAction="http://remotelabs.eng.uts.edu.au/schedserver/session/NewOperation" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="finishSession">
  		<soap:operation
  			soapAction="http://remotelabs.eng.uts.edu.au/schedserver/session/finishSession" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Session">
    <wsdl:port binding="ses:SessionSOAP" name="SessionSOAP">
      <soap:address location="http://remotelabs.eng.uts.edu.au:8080/SchedulingServer-Session/services/Session"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
