MultiSite/resources/MultiSiteCallback/MultiSiteCallback.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:mutcb="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteCallback/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MultiSiteCallback" targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteCallback/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteCallback/" xmlns:Q1="http://remotelabs.eng.uts.edu.au/schedserver/multisite">
      <xsd:import namespace="http://remotelabs.eng.uts.edu.au/schedserver/multisite" schemaLocation="../MultiSite.xsd"/>
      <xsd:element name="bookingCancelled"
      	type="mutcb:BookingCancelType">
      </xsd:element>
      <xsd:element name="bookingCancelledResponse"
      	type="Q1:OperationResponseType">
      </xsd:element>
      <xsd:element name="sessionStarted" type="mutcb:UserSessionType">
      </xsd:element>
      <xsd:element name="sessionStartedResponse"
      	type="Q1:OperationResponseType">
      </xsd:element>
      <xsd:element name="sessionFinished" type="Q1:UserIDType">
      </xsd:element>
      <xsd:element name="sessionFinishedResponse"
      	type="mutcb:UserSessionType">
      </xsd:element>
      <xsd:element name="sessionUpdate" type="mutcb:UserSessionType">
      </xsd:element>
      <xsd:element name="sessionUpdateResponse"
      	type="Q1:OperationResponseType">
      </xsd:element>

      <xsd:complexType name="BookingCancelType">
      	<xsd:complexContent>
      		<xsd:extension base="Q1:SiteIDType">
      			<xsd:sequence>
      				<xsd:element name="user" type="Q1:UserIDType">
      				</xsd:element>
      				<xsd:element name="booking"
      					type="Q1:BookingType">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>
    
      <xsd:complexType name="UserSessionType">
      	<xsd:complexContent>
      		<xsd:extension base="Q1:UserIDType">
      			<xsd:sequence>
      				<xsd:element name="session"
      					type="Q1:SessionType">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="bookingCancelledRequest">
    <wsdl:part element="mutcb:bookingCancelled" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="bookingCancelledResponse">
    <wsdl:part element="mutcb:bookingCancelledResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="sessionStartedRequest">
  	<wsdl:part name="parameters" element="mutcb:sessionStarted"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="sessionStartedResponse">
  	<wsdl:part name="parameters" element="mutcb:sessionStartedResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="sessionFinishedRequest">
  	<wsdl:part name="parameters" element="mutcb:sessionFinished"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="sessionFinishedResponse">
  	<wsdl:part name="parameters" element="mutcb:sessionFinishedResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="sessionUpdateRequest">
  	<wsdl:part name="parameters" element="mutcb:sessionUpdate"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="sessionUpdateResponse">
  	<wsdl:part name="parameters" element="mutcb:sessionUpdateResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MultiSiteCallback">
    <wsdl:operation name="bookingCancelled">
      <wsdl:input message="mutcb:bookingCancelledRequest"/>
      <wsdl:output message="mutcb:bookingCancelledResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sessionStarted">
    	<wsdl:input message="mutcb:sessionStartedRequest"></wsdl:input>
    	<wsdl:output message="mutcb:sessionStartedResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sessionFinished">
    	<wsdl:input message="mutcb:sessionFinishedRequest"></wsdl:input>
    	<wsdl:output message="mutcb:sessionFinishedResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sessionUpdate">
    	<wsdl:input message="mutcb:sessionUpdateRequest"></wsdl:input>
    	<wsdl:output message="mutcb:sessionUpdateResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MultiSiteCallbackSOAP"
  	type="mutcb:MultiSiteCallback">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="bookingCancelled">
  		<soap:operation
  			soapAction="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteCallback/bookingCancelled" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="sessionStarted">
  		<soap:operation
  			soapAction="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteCallback/sessionStarted" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="sessionFinished">
  		<soap:operation
  			soapAction="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteCallback/sessionFinished" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="sessionUpdate">
  		<soap:operation
  			soapAction="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteCallback/sessionUpdate" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MultiSiteCallback">
    <wsdl:port binding="mutcb:MultiSiteCallbackSOAP" name="MultiSiteCallbackSOAP">
      <soap:address location="http://remotelabs.eng.uts.edu.au:8080/SchedulingServer-MultiSite/services/MultiSiteCallback"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
