MultiSite/resources/MultiSiteCallback/MultiSiteCallback.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:mutcb="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteCallback/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MultiSiteCallback"
	targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteCallback/">
	<wsdl:types>

		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:mut="http://remotelabs.eng.uts.edu.au/schedserver/multisite"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="unqualified"
			targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/multisite">
			<element name="checkAvailability" type="mut:PermissionIDType" />
			<element name="checkAvailabilityResponse" type="mut:AvailabilityResponseType" />
			<element name="addToQueue" type="mut:QueueRequestType" />
			<element name="addToQueueResponse" type="mut:UserStatusType" />
			<element name="getUserStatus" type="mut:UserIDType" />
			<element name="getUserStatusResponse" type="mut:UserStatusType" />
			<element name="getQueuePosition" type="mut:UserIDType" />
			<element name="getQueuePositionResponse" type="mut:QueueType" />
			<element name="getSessionInformation" type="mut:UserIDType" />
			<element name="getSessionInformationResponse" type="mut:SessionType" />
			<element name="finishSession" type="mut:UserIDType" />
			<element name="finishSessionResponse" type="mut:OperationResponseType" />
			<element name="createBooking" type="mut:CreateBookingType" />
			<element name="createBookingResponse" type="mut:BookingResponseType" />
			<element name="cancelBooking" type="mut:BookingIDType" />
			<element name="cancelBookingResponse" type="mut:OperationResponseType" />
			<element name="findFreeBookings" type="mut:FindFreeBookingsType" />
			<element name="findFreeBookingsResponse" type="mut:FindFreeBookingsResponseType" />
			<complexType name="PermissionIDType">
				<complexContent>
					<extension base="mut:SiteIDType">
						<sequence>
							<element name="permissionID" type="string" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="SiteIDType">
				<sequence>
					<element name="siteID" type="string" />
				</sequence>
			</complexType>
			<complexType name="QueueRequestType">
				<complexContent>
					<extension base="mut:SiteIDType">
						<sequence>
							<element name="permission" type="mut:PermissionIDType" />
							<element name="user" type="mut:UserIDType" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="UserIDType">
				<complexContent>
					<extension base="mut:SiteIDType">
						<sequence>
							<element name="userID" type="string" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="UserStatusType">
				<sequence>
					<element minOccurs="0" name="operation" type="mut:OperationResponseType" />
					<element name="inQueue" type="boolean" />
					<element name="inSession" type="boolean" />
					<element name="inBooking" type="boolean" />
					<element minOccurs="0" name="queuedResource" type="mut:ResourceType" />
					<element minOccurs="0" name="bookedResource" type="mut:ResourceType" />
					<element minOccurs="0" name="session" type="mut:SessionType" />
				</sequence>
			</complexType>
			<complexType name="OperationResponseType">
				<sequence>
					<element name="wasSuccessful" type="boolean" />
					<element minOccurs="0" name="reason" type="string" />
				</sequence>
			</complexType>
			<complexType name="AvailabilityResponseType">
				<sequence>
					<element name="viable" type="boolean" />
					<element name="hasFree" type="boolean" />
					<element name="isQueueable" type="boolean" />
					<element name="isBookable" type="boolean" />
					<element name="isCodeAssignable" type="boolean" />
					<element name="queuedResource" type="mut:ResourceType" />
					<element maxOccurs="unbounded" minOccurs="0" name="queueTarget"
						type="mut:QueueTargetType" />
				</sequence>
			</complexType>
			<complexType name="QueueTargetType">
				<sequence>
					<element name="resource" type="mut:ResourceType" />
					<element name="viable" type="boolean" />
					<element name="isFree" type="boolean" />
				</sequence>
			</complexType>
			<complexType name="ResourceType">
				<sequence>
					<element name="type" type="string" />
					<element name="name" type="string" />
				</sequence>
			</complexType>
			<complexType name="SessionType">
				<sequence>
					<element name="isReady" type="boolean" />
					<element name="isCodeAssigned" type="boolean" />
					<element minOccurs="0" name="resource" type="mut:ResourceType" />
					<element minOccurs="0" name="rigType" type="string" />
					<element minOccurs="0" name="rigName" type="string" />
					<element minOccurs="0" name="contactURL" type="string" />
					<element name="time" type="int" />
					<element name="timeLeft" type="int" />
					<element name="extensions" type="int" />
					<element name="inGrace" type="boolean" />
					<element minOccurs="0" name="warningMessage" type="string" />
				</sequence>
			</complexType>
			<complexType name="QueueType">
				<sequence>
					<element name="inQueue" type="boolean" />
					<element name="inSession" type="boolean" />
					<element name="inBooking" type="boolean" />
					<element minOccurs="0" name="queuedResource" type="mut:ResourceType" />
					<element name="position" type="int" />
					<element name="time" type="int" />
				</sequence>
			</complexType>
			<complexType name="CreateBookingType">
				<complexContent>
					<extension base="mut:SiteIDType">
						<sequence>
							<element name="user" type="mut:UserIDType" />
							<element name="booking" type="mut:BookingType" />
							<element minOccurs="0" name="code" type="base64Binary" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="BookingType">
				<sequence>
					<element name="permission" type="mut:PermissionIDType" />
					<element name="start" type="dateTime" />
					<element name="end" type="dateTime" />
				</sequence>
			</complexType>
			<complexType name="BookingResponseType">
				<complexContent>
					<extension base="mut:OperationResponseType">
						<sequence>
							<element minOccurs="0" name="bookingID" type="mut:BookingIDType" />
							<element maxOccurs="unbounded" minOccurs="0" name="bestFits"
								type="mut:TimePeriodType" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="BookingIDType">
				<complexContent>
					<extension base="mut:SiteIDType">
						<sequence>
							<element name="id" type="int" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="TimePeriodType">
				<sequence>
					<element name="start" type="dateTime" />
					<element name="end" type="dateTime" />
				</sequence>
			</complexType>
			<complexType name="FindFreeBookingsType">
				<complexContent>
					<extension base="mut:SiteIDType">
						<sequence>
							<element name="permission" type="mut:PermissionIDType" />
							<element name="period" type="mut:TimePeriodType" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="FindFreeBookingsResponseType">
				<sequence>
					<element name="permission" type="mut:PermissionIDType" />
					<element name="resource" type="mut:ResourceType" />
					<element maxOccurs="unbounded" minOccurs="0" name="slot"
						type="mut:BookingSlotType" />
				</sequence>
			</complexType>
			<complexType name="BookingSlotType">
				<complexContent>
					<extension base="mut:TimePeriodType">
						<sequence>
							<element name="state">
								<simpleType>
									<restriction base="string">
										<enumeration value="FREE" />
										<enumeration value="BOOKED" />
										<enumeration value="NOPERMISSION" />
									</restriction>
								</simpleType>
							</element>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>

		<xsd:schema
			targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteCallback/"
			xmlns:Q1="http://remotelabs.eng.uts.edu.au/schedserver/multisite">
			<xsd:import namespace="http://remotelabs.eng.uts.edu.au/schedserver/multisite" />
			<xsd:element name="bookingCancelled" type="mutcb:BookingCancelType">
			</xsd:element>
			<xsd:element name="bookingCancelledResponse" type="Q1:OperationResponseType">
			</xsd:element>
			<xsd:element name="sessionStarted" type="mutcb:UserSessionType">
			</xsd:element>
			<xsd:element name="sessionStartedResponse" type="Q1:OperationResponseType">
			</xsd:element>
			<xsd:element name="sessionFinished" type="Q1:UserIDType">
			</xsd:element>
			<xsd:element name="sessionFinishedResponse"
				type="Q1:OperationResponseType">
			</xsd:element>
			<xsd:element name="sessionUpdate" type="mutcb:UserSessionType">
			</xsd:element>
			<xsd:element name="sessionUpdateResponse" type="Q1:OperationResponseType">
			</xsd:element>

			<xsd:complexType name="BookingCancelType">
				<xsd:complexContent>
					<xsd:extension base="Q1:SiteIDType">
						<xsd:sequence>
							<xsd:element name="user" type="Q1:UserIDType">
							</xsd:element>
							<xsd:element name="booking" type="Q1:BookingType">
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="UserSessionType">
				<xsd:complexContent>
					<xsd:extension base="Q1:UserIDType">
						<xsd:sequence>
							<xsd:element name="permission"
								type="Q1:PermissionIDType">
							</xsd:element>
							<xsd:element name="session"
								type="Q1:SessionType">
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="bookingCancelledRequest">
		<wsdl:part element="mutcb:bookingCancelled" name="parameters" />
	</wsdl:message>
	<wsdl:message name="bookingCancelledResponse">
		<wsdl:part element="mutcb:bookingCancelledResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="sessionStartedRequest">
		<wsdl:part name="parameters" element="mutcb:sessionStarted"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="sessionStartedResponse">
		<wsdl:part name="parameters" element="mutcb:sessionStartedResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="sessionFinishedRequest">
		<wsdl:part name="parameters" element="mutcb:sessionFinished"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="sessionFinishedResponse">
		<wsdl:part name="parameters" element="mutcb:sessionFinishedResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="sessionUpdateRequest">
		<wsdl:part name="parameters" element="mutcb:sessionUpdate"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="sessionUpdateResponse">
		<wsdl:part name="parameters" element="mutcb:sessionUpdateResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MultiSiteCallback">
		<wsdl:operation name="bookingCancelled">
			<wsdl:input message="mutcb:bookingCancelledRequest" />
			<wsdl:output message="mutcb:bookingCancelledResponse" />
		</wsdl:operation>
		<wsdl:operation name="sessionStarted">
			<wsdl:input message="mutcb:sessionStartedRequest"></wsdl:input>
			<wsdl:output message="mutcb:sessionStartedResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sessionFinished">
			<wsdl:input message="mutcb:sessionFinishedRequest"></wsdl:input>
			<wsdl:output message="mutcb:sessionFinishedResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sessionUpdate">
			<wsdl:input message="mutcb:sessionUpdateRequest"></wsdl:input>
			<wsdl:output message="mutcb:sessionUpdateResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MultiSiteCallbackSOAP" type="mutcb:MultiSiteCallback">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="bookingCancelled">
			<soap:operation
				soapAction="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteCallback/bookingCancelled" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sessionStarted">
			<soap:operation
				soapAction="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteCallback/sessionStarted" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sessionFinished">
			<soap:operation
				soapAction="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteCallback/sessionFinished" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sessionUpdate">
			<soap:operation
				soapAction="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteCallback/sessionUpdate" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MultiSiteCallback">
		<wsdl:port binding="mutcb:MultiSiteCallbackSOAP" name="MultiSiteCallbackSOAP">
			<soap:address
				location="http://remotelabs.eng.uts.edu.au:8080/SchedulingServer-MultiSite/services/MultiSiteCallback" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
