Version/interface/SchedulingServerVersion.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://remotelabs.eng.uts.edu.au/schedulingserver/version" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SchedulingServerVersion" targetNamespace="http://remotelabs.eng.uts.edu.au/schedulingserver/version">
  <wsdl:types>
    <xsd:schema targetNamespace="http://remotelabs.eng.uts.edu.au/schedulingserver/version">
      <xsd:element name="getVersions" type="tns:NullType"></xsd:element>
      <xsd:element name="getVersionsResponse"
      	type="tns:VersionResponseType">
      </xsd:element>

      <xsd:complexType name="NullType">
      	<xsd:sequence>
      		<xsd:element name="void" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="VersionResponseType">
      	<xsd:sequence>
      		<xsd:element name="bundle" type="tns:BundleType" maxOccurs="unbounded" minOccurs="1"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="BundleType">
      	<xsd:sequence>
      		<xsd:element name="symbolicName" type="xsd:string"></xsd:element>
      		<xsd:element name="id" type="xsd:long"></xsd:element>
      		<xsd:element name="state" type="xsd:string"></xsd:element>
      		<xsd:element name="version" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="getVersionsRequest">
    <wsdl:part element="tns:getVersions" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getVersionsResponse">
    <wsdl:part element="tns:getVersionsResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="SchedulingServerVersion">
    <wsdl:operation name="getVersions">
      <wsdl:input message="tns:getVersionsRequest"/>
      <wsdl:output message="tns:getVersionsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="SchedulingServerVersionSOAP"
  	type="tns:SchedulingServerVersion">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="getVersions">
  		<soap:operation
  			soapAction="http://remotelabs.eng.uts.edu.au/schedulingserver/version/getVersions" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="SchedulingServerVersion">
    <wsdl:port binding="tns:SchedulingServerVersionSOAP" name="SchedulingServerVersionSOAP">
      <soap:address location="http://remotelabs.eng.uts.edu.au:8080/schedserver/version"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
