MultiSite/resources/MultiSiteFederation/MultiSiteFederation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="MultiSiteFederation"
	targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteFederation/"
	xmlns:p="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mutfd="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteFederation/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteFederation/" xmlns:mut="http://remotelabs.eng.uts.edu.au/schedserver/multisite">
			<xsd:import schemaLocation="../MultiSite.xsd" namespace="http://remotelabs.eng.uts.edu.au/schedserver/multisite"></xsd:import>
			<xsd:element name="siteReconnect" type="mutfd:SiteType">
			</xsd:element>
			<xsd:element name="siteReconnectResponse"
				type="mut:OperationResponseType">
			</xsd:element>
			<xsd:element name="siteStatus" type="mut:SiteIDType">
			</xsd:element>
			<xsd:element name="siteStatusResponse"
				type="mut:OperationResponseType">
			</xsd:element>
			<xsd:element name="siteShutdown"
				type="mutfd:SiteShutdownType">
			</xsd:element>
			<xsd:element name="siteShutdownResponse"
				type="mut:OperationResponseType">
			</xsd:element>
			<xsd:element name="initiateSite" type="mutfd:SiteType">
			</xsd:element>
			<xsd:element name="initiateSiteResponse"
				type="mutfd:SiteType">
			</xsd:element>
			<xsd:element name="discoverResources"
				type="mut:SiteIDType">
			</xsd:element>
			<xsd:element name="discoverResourcesResponse"
				type="mutfd:RequestableResourceListType">
			</xsd:element>
			<xsd:element name="requestResource"
				type="mutfd:ResourceRequestType">
			</xsd:element>
			<xsd:element name="requestResourceResponse"
				type="mutfd:RequestResourceResponseType">
			</xsd:element>
			<xsd:element name="notifyAccept"
				type="mut:PermissionIDType">
			</xsd:element>
			<xsd:element name="notifyAcceptResponse"
				type="mut:OperationResponseType">
			</xsd:element>
			<xsd:element name="notifyModify"
				type="mutfd:ResourceRequestType">
			</xsd:element>
			<xsd:element name="notifyModifyResponse"
				type="mut:OperationResponseType">
			</xsd:element>
			<xsd:element name="notifyCancel"
				type="mut:PermissionIDType">
			</xsd:element>
			<xsd:element name="notifyCancelResponse"
				type="mut:OperationResponseType">
			</xsd:element>
			<xsd:element name="getRequests" type="mut:SiteIDType">
			</xsd:element>
			<xsd:element name="getRequestsResponse"
				type="mutfd:ResourceRequestListType">
			</xsd:element>

			<xsd:complexType name="SiteType">
				<xsd:complexContent>
					<xsd:extension base="mut:SiteIDType">
						<xsd:sequence>
							<xsd:element name="name"
								type="xsd:string">
							</xsd:element>
                            <xsd:element name="namespace" type="xsd:string">
							</xsd:element>
                            <xsd:element name="address"
								type="xsd:string">
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
		
			<xsd:complexType name="SiteShutdownType">
				<xsd:complexContent>
					<xsd:extension base="mut:SiteIDType">
						<xsd:sequence>
							<xsd:element name="reason"
								type="xsd:string">
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
		
			<xsd:complexType name="RequestableResourceListType">
				<xsd:sequence>
					<xsd:element name="resources"
						type="mutfd:RequestableResourceType" maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="RequestableResourceType">
				<xsd:sequence>
					<xsd:element name="resource"
						type="mut:ResourceType">
					</xsd:element>
					<xsd:element name="start" type="xsd:dateTime"></xsd:element>
					<xsd:element name="end" type="xsd:dateTime"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="RequestResourceResponseType">
				<xsd:complexContent>
					<xsd:extension base="mut:OperationResponseType">
						<xsd:sequence>
                            <xsd:element name="permissionID" type="xsd:string" maxOccurs="1" minOccurs="0">
							</xsd:element>
                            <xsd:element name="requiresRedirect"
								type="xsd:boolean" maxOccurs="1" minOccurs="0">
							</xsd:element>
							<xsd:element name="site"
								type="mutfd:SiteType" maxOccurs="1" minOccurs="0">
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
		
			<xsd:complexType name="ResourceRequestType">
				<xsd:complexContent>
					<xsd:extension base="mut:SiteIDType">
						<xsd:sequence>
							<xsd:element name="permissionID"
								type="xsd:string" maxOccurs="1" minOccurs="0">
							</xsd:element>
							<xsd:element name="resource"
								type="mut:ResourceType">
							</xsd:element>
							<xsd:element name="start"
								type="xsd:dateTime">
							</xsd:element>
							<xsd:element name="expiry"
								type="xsd:dateTime">
							</xsd:element>
							<xsd:element name="name"
								type="xsd:string">
							</xsd:element>
							<xsd:element name="sessionDuration"
								type="xsd:int">
							</xsd:element>
							<xsd:element name="allowedExtensions"
								type="xsd:int">
							</xsd:element>
							<xsd:element name="extensionDuration"
								type="xsd:int">
							</xsd:element>
							<xsd:element name="isQueuable"
								type="xsd:boolean">
							</xsd:element>
							<xsd:element name="isBookable"
								type="xsd:boolean">
							</xsd:element>
							<xsd:element name="maxBookings"
								type="xsd:string" maxOccurs="1" minOccurs="0">
							</xsd:element>
							<xsd:element name="note" type="xsd:string"
								maxOccurs="1" minOccurs="0">
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
		
			<xsd:complexType name="ResourceRequestListType">
				<xsd:sequence>
					<xsd:element name="list"
						type="mutfd:ResourceRequestType" maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="siteReconnectRequest">
		<wsdl:part name="parameters" element="mutfd:siteReconnect" />
	</wsdl:message>
	<wsdl:message name="siteReconnectResponse">
		<wsdl:part name="parameters" element="mutfd:siteReconnectResponse" />
	</wsdl:message>
	<wsdl:message name="siteStatusRequest">
		<wsdl:part name="parameters" element="mutfd:siteStatus" />
	</wsdl:message>
	<wsdl:message name="siteStatusResponse">
		<wsdl:part name="parameters" element="mutfd:siteStatusResponse" />
	</wsdl:message>
	<wsdl:message name="siteShutdownRequest">
		<wsdl:part name="parameters" element="mutfd:siteShutdown" />
	</wsdl:message>
	<wsdl:message name="siteShutdownResponse">
		<wsdl:part name="parameters" element="mutfd:siteShutdownResponse" />
	</wsdl:message>
	<wsdl:message name="initiateSiteRequest">
		<wsdl:part name="parameters" element="mutfd:initiateSite" />
	</wsdl:message>
	<wsdl:message name="initiateSiteResponse">
		<wsdl:part name="parameters" element="mutfd:initiateSiteResponse" />
	</wsdl:message>
	<wsdl:message name="discoverResourcesRequest">
		<wsdl:part name="parameters" element="mutfd:discoverResources" />
	</wsdl:message>
	<wsdl:message name="discoverResourcesResponse">
		<wsdl:part name="parameters" element="mutfd:discoverResourcesResponse" />
	</wsdl:message>
	<wsdl:message name="requestResourceRequest">
		<wsdl:part name="parameters" element="mutfd:requestResource" />
	</wsdl:message>
	<wsdl:message name="requestResourceResponse">
		<wsdl:part name="parameters" element="mutfd:requestResourceResponse" />
	</wsdl:message>
	<wsdl:message name="notifyAcceptRequest">
		<wsdl:part name="parameters" element="mutfd:notifyAccept" />
	</wsdl:message>
	<wsdl:message name="notifyAcceptResponse">
		<wsdl:part name="parameters" element="mutfd:notifyAcceptResponse" />
	</wsdl:message>
	<wsdl:message name="notifyModifyRequest">
		<wsdl:part name="parameters" element="mutfd:notifyModify" />
	</wsdl:message>
	<wsdl:message name="notifyModifyResponse">
		<wsdl:part name="parameters" element="mutfd:notifyModifyResponse" />
	</wsdl:message>
	<wsdl:message name="notifyCancelRequest">
		<wsdl:part name="parameters" element="mutfd:notifyCancel" />
	</wsdl:message>
	<wsdl:message name="notifyCancelResponse">
		<wsdl:part name="parameters" element="mutfd:notifyCancelResponse" />
	</wsdl:message>
	<wsdl:message name="getRequestsRequest">
		<wsdl:part name="parameters" element="mutfd:getRequests" />
	</wsdl:message>
	<wsdl:message name="getRequestsResponse">
		<wsdl:part name="parameters" element="mutfd:getRequestsResponse" />
	</wsdl:message>
	<wsdl:portType name="MultiSiteFederation">
		<wsdl:operation name="siteReconnect">
			<wsdl:input message="mutfd:siteReconnectRequest" />
			<wsdl:output message="mutfd:siteReconnectResponse" />
		</wsdl:operation>
		<wsdl:operation name="siteStatus">
			<wsdl:input message="mutfd:siteStatusRequest" />
			<wsdl:output message="mutfd:siteStatusResponse" />
		</wsdl:operation>
		<wsdl:operation name="siteShutdown">
			<wsdl:input message="mutfd:siteShutdownRequest" />
			<wsdl:output message="mutfd:siteShutdownResponse" />
		</wsdl:operation>
		<wsdl:operation name="initiateSite">
			<wsdl:input message="mutfd:initiateSiteRequest" />
			<wsdl:output message="mutfd:initiateSiteResponse" />
		</wsdl:operation>
		<wsdl:operation name="discoverResources">
			<wsdl:input message="mutfd:discoverResourcesRequest" />
			<wsdl:output message="mutfd:discoverResourcesResponse" />
		</wsdl:operation>
		<wsdl:operation name="requestResource">
			<wsdl:input message="mutfd:requestResourceRequest" />
			<wsdl:output message="mutfd:requestResourceResponse" />
		</wsdl:operation>
		<wsdl:operation name="notifyAccept">
			<wsdl:input message="mutfd:notifyAcceptRequest" />
			<wsdl:output message="mutfd:notifyAcceptResponse" />
		</wsdl:operation>
		<wsdl:operation name="notifyModify">
			<wsdl:input message="mutfd:notifyModifyRequest" />
			<wsdl:output message="mutfd:notifyModifyResponse" />
		</wsdl:operation>
		<wsdl:operation name="notifyCancel">
			<wsdl:input message="mutfd:notifyCancelRequest" />
			<wsdl:output message="mutfd:notifyCancelResponse" />
		</wsdl:operation>
		<wsdl:operation name="getRequests">
			<wsdl:input message="mutfd:getRequestsRequest" />
			<wsdl:output message="mutfd:getRequestsResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MultiSiteFederationSOAP"
		type="mutfd:MultiSiteFederation">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="siteReconnect">
			<soap:operation
				soapAction="http://remotelabs.eng.uts.edu.au/scheduling/MultiSiteFederation/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="siteStatus">
			<soap:operation
				soapAction="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteFederation/siteStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="siteShutdown">
			<soap:operation
				soapAction="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteFederation/siteShutdown" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="initiateSite">
			<soap:operation
				soapAction="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteFederation/initiateSite" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="discoverResources">
			<soap:operation
				soapAction="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteFederation/discoverResources" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="requestResource">
			<soap:operation
				soapAction="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteFederation/requestResource" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="notifyAccept">
			<soap:operation
				soapAction="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteFederation/notifyAccept" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="notifyModify">
			<soap:operation
				soapAction="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteFederation/notifyModify" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="notifyCancel">
			<soap:operation
				soapAction="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteFederation/notifyCancel" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRequests">
			<soap:operation
				soapAction="http://remotelabs.eng.uts.edu.au/schedserver/MultiSiteFederation/getRequests" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MultiSiteFederation">
		<wsdl:port binding="mutfd:MultiSiteFederationSOAP" name="MultiSiteFederationSOAP">
			<soap:address
				location="http://remotelabs.eng.uts.edu.au:8080/SchedulingServer-MultiSite/services/MultiSiteFederation" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
