MultiSite/resources/MultiSite.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Multisite" targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/multisite" xmlns:mut="http://remotelabs.eng.uts.edu.au/schedserver/multisite" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/multisitens">
      <xsd:import namespace="http://remotelabs.eng.uts.edu.au/schedserver/multisite" schemaLocation="xsd/MultiSite.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="findFreeBookingsResponse">
    <wsdl:part name="parameters" element="mut:findFreeBookingsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addToQueueRequest">
    <wsdl:part name="parameters" element="mut:addToQueue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSessionInformationRequest">
    <wsdl:part name="parameters" element="mut:getSessionInformation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkAvailabilityResponse">
    <wsdl:part name="parameters" element="mut:checkAvailabilityResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserStatusRequest">
    <wsdl:part name="parameters" element="mut:getUserStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createBookingRequest">
    <wsdl:part name="parameters" element="mut:createBooking">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSessionInformationResponse">
    <wsdl:part name="parameters" element="mut:getSessionInformationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQueuePositionRequest">
    <wsdl:part name="parameters" element="mut:getQueuePosition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finishSessionResponse">
    <wsdl:part name="parameters" element="mut:finishSessionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkAvailabilityRequest">
    <wsdl:part name="parameters" element="mut:checkAvailability">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserStatusResponse">
    <wsdl:part name="parameters" element="mut:getUserStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelBookingRequest">
    <wsdl:part name="parameters" element="mut:cancelBooking">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQueuePositionResponse">
    <wsdl:part name="parameters" element="mut:getQueuePositionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findFreeBookingsRequest">
    <wsdl:part name="parameters" element="mut:findFreeBookings">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finishSessionRequest">
    <wsdl:part name="parameters" element="mut:finishSession">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelBookingResponse">
    <wsdl:part name="parameters" element="mut:cancelBookingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createBookingResponse">
    <wsdl:part name="parameters" element="mut:createBookingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addToQueueResponse">
    <wsdl:part name="parameters" element="mut:addToQueueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MultiSite">
    <wsdl:operation name="checkAvailability">
      <wsdl:input message="mut:checkAvailabilityRequest">
    </wsdl:input>
      <wsdl:output message="mut:checkAvailabilityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addToQueue">
      <wsdl:input message="mut:addToQueueRequest">
    </wsdl:input>
      <wsdl:output message="mut:addToQueueResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserStatus">
      <wsdl:input message="mut:getUserStatusRequest">
    </wsdl:input>
      <wsdl:output message="mut:getUserStatusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueuePosition">
      <wsdl:input message="mut:getQueuePositionRequest">
    </wsdl:input>
      <wsdl:output message="mut:getQueuePositionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSessionInformation">
      <wsdl:input message="mut:getSessionInformationRequest">
    </wsdl:input>
      <wsdl:output message="mut:getSessionInformationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finishSession">
      <wsdl:input message="mut:finishSessionRequest">
    </wsdl:input>
      <wsdl:output message="mut:finishSessionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBooking">
      <wsdl:input message="mut:createBookingRequest">
    </wsdl:input>
      <wsdl:output message="mut:createBookingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelBooking">
      <wsdl:input message="mut:cancelBookingRequest">
    </wsdl:input>
      <wsdl:output message="mut:cancelBookingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findFreeBookings">
      <wsdl:input message="mut:findFreeBookingsRequest">
    </wsdl:input>
      <wsdl:output message="mut:findFreeBookingsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MultiSiteSOAP" type="mut:MultiSite">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="checkAvailability">
      <soap:operation soapAction="http://remotelabs.eng.uts.edu.au/schedserver/multisite/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addToQueue">
      <soap:operation soapAction="http://remotelabs.eng.uts.edu.au/schedserver/multisite/addToQueue"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserStatus">
      <soap:operation soapAction="http://remotelabs.eng.uts.edu.au/schedserver/multisite/getUserStatus"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueuePosition">
      <soap:operation soapAction="http://remotelabs.eng.uts.edu.au/schedserver/multisite/getQueuePosition"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSessionInformation">
      <soap:operation soapAction="http://remotelabs.eng.uts.edu.au/schedserver/multisite/getSessionInformation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finishSession">
      <soap:operation soapAction="http://remotelabs.eng.uts.edu.au/schedserver/multisite/finishSession"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBooking">
      <soap:operation soapAction="http://remotelabs.eng.uts.edu.au/schedserver/multisite/createBooking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelBooking">
      <soap:operation soapAction="http://remotelabs.eng.uts.edu.au/schedserver/multisite/cancelBooking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findFreeBookings">
      <soap:operation soapAction="http://remotelabs.eng.uts.edu.au/schedserver/multisite/findFreeBookings"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MultiSite">
    <wsdl:port name="MultiSiteSOAP" binding="mut:MultiSiteSOAP">
      <soap:address location="http://remotelabs.eng.uts.edu.au:8080/SchedulingServer-MultiSite/services/MultiSite"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
