MultiSite/resources/Multisite.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:mut="http://remotelabs.eng.uts.edu.au/schedserver/multisite" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Multisite" targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/multisite">
  <wsdl:types>
    <xsd:schema targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/multisite">
      <xsd:element name="checkAvailability"
      	type="mut:PermissionIDType">
      </xsd:element>
      <xsd:element name="checkAvailabilityResponse"
      	type="mut:AvailabilityResponseType">
      </xsd:element>
      <xsd:element name="addToQueue" type="mut:QueueRequestType">
      </xsd:element>
      <xsd:element name="addToQueueResponse"
      	type="mut:OperationResponseType">
      </xsd:element>
      <xsd:element name="getUserStatus" type="mut:UserIDType"></xsd:element>
      <xsd:element name="getUserStatusResponse" type="mut:UserStatusType">
      </xsd:element>
      <xsd:element name="getQueuePosition" type="mut:UserIDType">
      </xsd:element>
      <xsd:element name="getQueuePositionResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getSessionInformation" type="mut:UserIDType">
      </xsd:element>
      <xsd:element name="getSessionInformationResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="finishSession" type="mut:UserIDType">
      </xsd:element>
      <xsd:element name="finishSessionResponse"
      	type="mut:OperationResponseType">
      </xsd:element>
      <xsd:element name="createBooking">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="createBookingResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelBooking">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelBookingResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="findFreeBookings">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="findFreeBookingsResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="PermissionIDType">
      	<xsd:complexContent>
      		<xsd:extension base="mut:SiteIDType">
      			<xsd:sequence>
      				<xsd:element name="guid"
      					type="xsd:string">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="SiteIDType">
      	<xsd:sequence>
      		<xsd:element name="guid" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="QueueRequestType">
      	<xsd:complexContent>
      		<xsd:extension base="mut:SiteIDType">
      			<xsd:sequence>
      				<xsd:element name="permission"
      					type="mut:PermissionIDType">
      				</xsd:element>
      				<xsd:element name="user"
      					type="mut:UserIDType">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>
    
      <xsd:complexType name="UserIDType">
      	<xsd:complexContent>
      		<xsd:extension base="mut:SiteIDType">
      			<xsd:sequence>
      				<xsd:element name="name"
      					type="xsd:string">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="UserStatusType">
      	<xsd:sequence>
      		<xsd:element name="inQueue" type="xsd:string"></xsd:element>
      		<xsd:element name="inSession" type="xsd:string"></xsd:element>
      		<xsd:element name="inBooking" type="xsd:string"></xsd:element>
      		<xsd:element name="queuedResource" type="xsd:string"></xsd:element>
      		<xsd:element name="bookedResource" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="OperationResponseType">
            	<xsd:sequence>
            		<xsd:element name="wasSuccessful"
            			type="xsd:boolean">
            		</xsd:element>
            		<xsd:element name="reason" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="AvailabilityResponseType">
            	<xsd:sequence>
            		<xsd:element name="viable" type="xsd:boolean"></xsd:element>
            		<xsd:element name="hasFree" type="xsd:boolean"></xsd:element>
            		<xsd:element name="isQueueable"
            			type="xsd:boolean">
            		</xsd:element>
            		<xsd:element name="isBookable" type="xsd:boolean"></xsd:element>
            		<xsd:element name="isCodeAssignable"
            			type="xsd:boolean">
            		</xsd:element>
            		<xsd:element name="queuedResource"
            			type="mut:ResourceType">
            		</xsd:element>
            		<xsd:element name="queueTarget" type="mut:QueueTargetType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="QueueTargetType">
            	<xsd:sequence>
            		<xsd:element name="resource" type="mut:ResourceType"></xsd:element>
            		<xsd:element name="viable" type="xsd:boolean"></xsd:element>
            		<xsd:element name="isFree" type="xsd:boolean"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="ResourceType">
            	<xsd:sequence>
            		<xsd:element name="type" type="xsd:string"></xsd:element>
            		<xsd:element name="name" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="checkAvailabilityRequest">
    <wsdl:part element="mut:checkAvailability" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="checkAvailabilityResponse">
    <wsdl:part element="mut:checkAvailabilityResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="addToQueueRequest">
  	<wsdl:part name="parameters" element="mut:addToQueue"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addToQueueResponse">
  	<wsdl:part name="parameters" element="mut:addToQueueResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserStatusRequest">
  	<wsdl:part name="parameters" element="mut:getUserStatus"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserStatusResponse">
  	<wsdl:part name="parameters" element="mut:getUserStatusResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQueuePositionRequest">
  	<wsdl:part name="parameters" element="mut:getQueuePosition"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQueuePositionResponse">
  	<wsdl:part name="parameters" element="mut:getQueuePositionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSessionInformationRequest">
  	<wsdl:part name="parameters" element="mut:getSessionInformation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSessionInformationResponse">
  	<wsdl:part name="parameters" element="mut:getSessionInformationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="finishSessionRequest">
  	<wsdl:part name="parameters" element="mut:finishSession"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="finishSessionResponse">
  	<wsdl:part name="parameters" element="mut:finishSessionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createBookingRequest">
  	<wsdl:part name="parameters" element="mut:createBooking"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createBookingResponse">
  	<wsdl:part name="parameters" element="mut:createBookingResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelBookingRequest">
  	<wsdl:part name="parameters" element="mut:cancelBooking"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelBookingResponse">
  	<wsdl:part name="parameters" element="mut:cancelBookingResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="findFreeBookingsRequest">
  	<wsdl:part name="parameters" element="mut:findFreeBookings"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="findFreeBookingsResponse">
  	<wsdl:part name="parameters" element="mut:findFreeBookingsResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MultiSite">
    <wsdl:operation name="checkAvailability">
      <wsdl:input message="mut:checkAvailabilityRequest"/>
      <wsdl:output message="mut:checkAvailabilityResponse"/>
    </wsdl:operation>
    <wsdl:operation name="addToQueue">
    	<wsdl:input message="mut:addToQueueRequest"></wsdl:input>
    	<wsdl:output message="mut:addToQueueResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserStatus">
    	<wsdl:input message="mut:getUserStatusRequest"></wsdl:input>
    	<wsdl:output message="mut:getUserStatusResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueuePosition">
    	<wsdl:input message="mut:getQueuePositionRequest"></wsdl:input>
    	<wsdl:output message="mut:getQueuePositionResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSessionInformation">
    	<wsdl:input message="mut:getSessionInformationRequest"></wsdl:input>
    	<wsdl:output message="mut:getSessionInformationResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finishSession">
    	<wsdl:input message="mut:finishSessionRequest"></wsdl:input>
    	<wsdl:output message="mut:finishSessionResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBooking">
    	<wsdl:input message="mut:createBookingRequest"></wsdl:input>
    	<wsdl:output message="mut:createBookingResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelBooking">
    	<wsdl:input message="mut:cancelBookingRequest"></wsdl:input>
    	<wsdl:output message="mut:cancelBookingResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findFreeBookings">
    	<wsdl:input message="mut:findFreeBookingsRequest"></wsdl:input>
    	<wsdl:output message="mut:findFreeBookingsResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MultiSiteSOAP" type="mut:MultiSite">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="checkAvailability">
      <soap:operation soapAction="http://remotelabs.eng.uts.edu.au/schedserver/multisite/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MultiSite">
    <wsdl:port binding="mut:MultiSiteSOAP" name="MultiSiteSOAP">
      <soap:address location="http://remotelabs.eng.uts.edu.au:8080/SchedulingServer-MultiSite/services/MultiSite"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
