Permissions/resources/Permissions.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:pm="http://remotelabs.eng.uts.edu.au/schedserver/permissions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Permissions" targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/permissions">
  <wsdl:types>
    <xsd:schema targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/permissions">
      <xsd:element name="listPermissions">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string" />
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="listPermissionsResponse"
      	type="pm:PermissionListType">
      </xsd:element>
      <xsd:element name="getUserClass" type="pm:UserClassIDType">
      </xsd:element>
      <xsd:element name="getUserClassResponse"
      	type="pm:UserClassType">
      </xsd:element>

      <xsd:complexType name="UserClassIDType">
      	<xsd:sequence>
      		<xsd:element name="classID" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="className" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="createOrEditUserClass" type="pm:UserClassType">
      </xsd:element>
      <xsd:element name="createOrEditUserClassResponse"
      	type="pm:OperationResponseType">
      </xsd:element>

      <xsd:complexType name="UserClassType">
      	<xsd:complexContent>
      		<xsd:extension base="pm:UserClassIDType">
      			<xsd:sequence>
      				<xsd:element name="priority" type="xsd:int"
      					maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="isQueuable"
      					type="xsd:boolean" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="isKickable"
      					type="xsd:boolean" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="isUserLockable"
      					type="xsd:boolean" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="isActive"
      					type="xsd:boolean" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>
    
      <xsd:complexType name="OperationResponseType">
      	<xsd:sequence>
      		<xsd:element name="successful" type="xsd:boolean"></xsd:element>
      		<xsd:element name="failureReason" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deleteUserClass" type="pm:UserClassIDType">
      </xsd:element>
      <xsd:element name="deleteUserClassResponse"
      	type="pm:OperationResponseType">
      </xsd:element>
      <xsd:element name="getPermission" type="pm:PermissionID">
      </xsd:element>
      <xsd:element name="getPermissionResponse"
      	type="pm:PermissionType">
      </xsd:element>
      <xsd:element name="createOrEditPermission"
      	type="pm:PermissionType">
      </xsd:element>
      <xsd:element name="createOrEditPermissionResponse"
      	type="pm:OperationResponseType">
      </xsd:element>
      <xsd:element name="deletePermission" type="pm:PermissionID">
      </xsd:element>
      <xsd:element name="deletePermissionResponse"
      	type="pm:OperationResponseType">
      </xsd:element>

      <xsd:complexType name="PermissionID">
      	<xsd:sequence>
      		<xsd:element name="permissionID" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="PermissionType">
      	<xsd:complexContent>
      		<xsd:extension base="pm:PermissionID">
      			<xsd:sequence>
      				<xsd:element name="userClass"
      					type="pm:UserClassIDType">
      				</xsd:element>
      				<xsd:element name="resourceClass">
      					<xsd:annotation>
      						<xsd:documentation>
      							The class of permission which may be
      							RIG, a specific rig, TYPE, a specific
      							rig type or CAPABILITY, a specific
      							capability string.
      						</xsd:documentation>
      					</xsd:annotation>
      					<xsd:simpleType>
      						<xsd:restriction base="xsd:string">
      							<xsd:enumeration value="TYPE"></xsd:enumeration>
      							<xsd:enumeration value="RIG"></xsd:enumeration>
      							<xsd:enumeration value="CAPABILITY"></xsd:enumeration>
      						</xsd:restriction>
      					</xsd:simpleType>
      				</xsd:element>
      				<xsd:element name="resource" type="pm:ResourceIDType">
      				</xsd:element>
      				
      				<xsd:element name="sessionDuration"
      					type="xsd:int" maxOccurs="1" minOccurs="0">
      					<xsd:annotation>
      						<xsd:documentation>
      							Duration of session in minutes.
      						</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>
      				<xsd:element name="extensionDuration"
      					type="xsd:int" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="allowedExtensions"
      					type="xsd:int" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="queueActivityTmOut"
      					type="xsd:int" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="sessionActivityTmOut"
      					type="xsd:string" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>
    
        
      <xsd:complexType name="ResourceIDType">
      	<xsd:sequence>
      		<xsd:element name="resourceID" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="resourceName" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getUser" type="pm:UserIDType"></xsd:element>
      <xsd:element name="getUserResponse" type="pm:UserType">
      </xsd:element>
      <xsd:element name="createOrEditUser" type="pm:UserType">
      </xsd:element>
      <xsd:element name="createOrEditUserResponse"
      	type="pm:OperationResponseType">
      </xsd:element>
      <xsd:element name="deleteUser" type="pm:UserIDType"></xsd:element>
      <xsd:element name="deleteUserResponse"
      	type="pm:OperationResponseType">
      </xsd:element>

      <xsd:complexType name="UserIDType">
      	<xsd:choice>
      		<xsd:element name="userId" type="xsd:int"></xsd:element>
      		<xsd:sequence>
      			<xsd:element name="userName" type="xsd:string"></xsd:element>
      			<xsd:element name="userNameSpace" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:choice>
      </xsd:complexType>
    
      <xsd:complexType name="UserType">
      	<xsd:complexContent>
      		<xsd:extension base="pm:UserIDType">
      			<xsd:sequence>
      				<xsd:element name="persona">
      					<xsd:simpleType>
      						<xsd:restriction base="xsd:string">
      							<xsd:enumeration value="ADMIN"></xsd:enumeration>
      							<xsd:enumeration value="ACADEMIC"></xsd:enumeration>
      							<xsd:enumeration value="USER"></xsd:enumeration>
      							<xsd:enumeration value="DEMO"></xsd:enumeration>
      						</xsd:restriction>
      					</xsd:simpleType>
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="addUserAssociation"
      	type="pm:UserAssociationType">
      </xsd:element>
      <xsd:element name="addUserAssociationResponse"
      	type="pm:OperationResponseType">
      </xsd:element>
      <xsd:element name="deleteUserAssociation">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteUserAssociationResponse"
      	type="pm:OperationResponseType">
      </xsd:element>
    
      <xsd:complexType name="UserAssociationType">
      	<xsd:sequence>
      		<xsd:element name="user" type="pm:UserIDType"></xsd:element>
      		<xsd:element name="userClass" type="pm:UserClassIDType"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="addUserLock" type="pm:UserLockType">
      </xsd:element>
      <xsd:element name="addUserLockResponse"
      	type="pm:UserLockResponseType">
      </xsd:element>
      <xsd:element name="deleteUserLock" type="pm:UserLockIDType">
      </xsd:element>
      <xsd:element name="deleteUserLockResponse"
      	type="pm:OperationResponseType">
      </xsd:element>
      <xsd:element name="unlockUserLock" type="pm:UserLockType">
      </xsd:element>
      <xsd:element name="unlockUserLockResponse"
      	type="pm:OperationResponseType">
      </xsd:element>

      <xsd:complexType name="UserLockIDType">
      	<xsd:sequence>
      		<xsd:element name="userLockID" type="xsd:int"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:sequence maxOccurs="1" minOccurs="0">
      			<xsd:element name="userID" type="pm:UserIDType"></xsd:element>
      			<xsd:element name="resourceID"
      				type="pm:ResourceIDType">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="UserLockType">
      	<xsd:complexContent>
      		<xsd:extension base="pm:UserLockIDType">
      			<xsd:sequence>
      				<xsd:element name="lockKey"
      					type="xsd:string" maxOccurs="1" minOccurs="0">
                                <xsd:annotation>
                                	<xsd:documentation>If not provided the lock key is auto-generated.</xsd:documentation>
                                </xsd:annotation>
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>
    
      <xsd:complexType name="UserLockResponseType">
      	<xsd:complexContent>
      		<xsd:extension base="pm:OperationResponseType">
      			<xsd:sequence>
      				<xsd:element name="lockKey"
      					type="xsd:string">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="addOrEditAcademicPermission"
      	type="pm:AcademicPermissionType">
      </xsd:element>
      <xsd:element name="addOrEditAcademicPermissionResponse"
      	type="pm:OperationResponseType">
      </xsd:element>
      <xsd:element name="deleteAcademicPermission"
      	type="pm:AcademicPermissionIDType">
      </xsd:element>
      <xsd:element name="deleteAcademicPermissionResponse"
      	type="pm:OperationResponseType">
      </xsd:element>
      <xsd:element name="getAcademicPermission"
      	type="pm:AcademicPermissionIDType">
      </xsd:element>
      <xsd:element name="getAcademicPermissionResponse"
      	type="pm:AcademicPermissionType">
      </xsd:element>

      <xsd:complexType name="AcademicPermissionIDType">
      	<xsd:sequence>
      		<xsd:element name="academicPermissionID" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:sequence maxOccurs="1" minOccurs="0">
      			<xsd:element name="userID" type="pm:UserIDType"></xsd:element>
      			<xsd:element name="userClassID" type="pm:UserClassIDType"></xsd:element>
      		</xsd:sequence>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="AcademicPermissionType">
      	<xsd:complexContent>
      		<xsd:extension base="pm:AcademicPermissionIDType">
      			<xsd:sequence>
      				<xsd:element name="canView" type="xsd:boolean" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="canControl"
      					type="xsd:boolean" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="canKick" type="xsd:boolean" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="canModify" type="xsd:boolean" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="canGenerateReports"
      					type="xsd:boolean" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>
    
      <xsd:complexType name="PermissionListType">
      	<xsd:sequence>
      		<xsd:element name="permission" type="pm:PermissionType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="listPermissionsRequest">
    <wsdl:part element="pm:listPermissions" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="listPermissionsResponse">
    <wsdl:part element="pm:listPermissionsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getUserClassRequest">
  	<wsdl:part name="parameters" element="pm:getUserClass"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserClassResponse">
  	<wsdl:part name="parameters" element="pm:getUserClassResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createOrEditUserClassRequest">
  	<wsdl:part name="parameters" element="pm:createOrEditUserClass"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createOrEditUserClassResponse">
  	<wsdl:part name="parameters" element="pm:createOrEditUserClassResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserClassRequest">
  	<wsdl:part name="parameters" element="pm:deleteUserClass"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserClassResponse">
  	<wsdl:part name="parameters" element="pm:deleteUserClassResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPermissionRequest">
  	<wsdl:part name="parameters" element="pm:getPermission"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPermissionResponse">
  	<wsdl:part name="parameters" element="pm:getPermissionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createOrEditPermissionRequest">
  	<wsdl:part name="parameters" element="pm:createOrEditPermission"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createOrEditPermissionResponse">
  	<wsdl:part name="parameters" element="pm:createOrEditPermissionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePermissionRequest">
  	<wsdl:part name="parameters" element="pm:deletePermission"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePermissionResponse">
  	<wsdl:part name="parameters" element="pm:deletePermissionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserRequest">
  	<wsdl:part name="parameters" element="pm:getUser"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserResponse">
  	<wsdl:part name="parameters" element="pm:getUserResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createOrEditUserRequest">
  	<wsdl:part name="parameters" element="pm:createOrEditUser"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createOrEditUserResponse">
  	<wsdl:part name="parameters" element="pm:createOrEditUserResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserRequest">
  	<wsdl:part name="parameters" element="pm:deleteUser"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserResponse">
  	<wsdl:part name="parameters" element="pm:deleteUserResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserAssociationRequest">
  	<wsdl:part name="parameters" element="pm:addUserAssociation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserAssociationResponse">
  	<wsdl:part name="parameters" element="pm:addUserAssociationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserAssociationRequest">
  	<wsdl:part name="parameters" element="pm:deleteUserAssociation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserAssociationResponse">
  	<wsdl:part name="parameters" element="pm:deleteUserAssociationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserLockRequest">
  	<wsdl:part name="parameters" element="pm:addUserLock"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserLockResponse">
  	<wsdl:part name="parameters" element="pm:addUserLockResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserLockRequest">
  	<wsdl:part name="parameters" element="pm:deleteUserLock"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserLockResponse">
  	<wsdl:part name="parameters" element="pm:deleteUserLockResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="unlockUserLockRequest">
  	<wsdl:part name="parameters" element="pm:unlockUserLock"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="unlockUserLockResponse">
  	<wsdl:part name="parameters" element="pm:unlockUserLockResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addOrEditAcademicPermissionRequest">
  	<wsdl:part name="parameters" element="pm:addOrEditAcademicPermission"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addOrEditAcademicPermissionResponse">
  	<wsdl:part name="parameters" element="pm:addOrEditAcademicPermissionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAcademicPermissionRequest">
  	<wsdl:part name="parameters" element="pm:deleteAcademicPermission"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAcademicPermissionResponse">
  	<wsdl:part name="parameters" element="pm:deleteAcademicPermissionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAcademicPermissionRequest">
  	<wsdl:part name="parameters" element="pm:getAcademicPermission"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAcademicPermissionResponse">
  	<wsdl:part name="parameters" element="pm:getAcademicPermissionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Permissions">
    <wsdl:operation name="listPermissions">
      <wsdl:input message="pm:listPermissionsRequest"/>
      <wsdl:output message="pm:listPermissionsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUserClass">
    	<wsdl:input message="pm:getUserClassRequest"></wsdl:input>
    	<wsdl:output message="pm:getUserClassResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createOrEditUserClass">
    	<wsdl:input message="pm:createOrEditUserClassRequest"></wsdl:input>
    	<wsdl:output message="pm:createOrEditUserClassResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserClass">
    	<wsdl:input message="pm:deleteUserClassRequest"></wsdl:input>
    	<wsdl:output message="pm:deleteUserClassResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPermission">
    	<wsdl:input message="pm:getPermissionRequest"></wsdl:input>
    	<wsdl:output message="pm:getPermissionResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createOrEditPermission">
    	<wsdl:input message="pm:createOrEditPermissionRequest"></wsdl:input>
    	<wsdl:output message="pm:createOrEditPermissionResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePermission">
    	<wsdl:input message="pm:deletePermissionRequest"></wsdl:input>
    	<wsdl:output message="pm:deletePermissionResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
    	<wsdl:input message="pm:getUserRequest"></wsdl:input>
    	<wsdl:output message="pm:getUserResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createOrEditUser">
    	<wsdl:input message="pm:createOrEditUserRequest"></wsdl:input>
    	<wsdl:output message="pm:createOrEditUserResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
    	<wsdl:input message="pm:deleteUserRequest"></wsdl:input>
    	<wsdl:output message="pm:deleteUserResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserAssociation">
    	<wsdl:input message="pm:addUserAssociationRequest"></wsdl:input>
    	<wsdl:output message="pm:addUserAssociationResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserAssociation">
    	<wsdl:input message="pm:deleteUserAssociationRequest"></wsdl:input>
    	<wsdl:output message="pm:deleteUserAssociationResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserLock">
    	<wsdl:input message="pm:addUserLockRequest"></wsdl:input>
    	<wsdl:output message="pm:addUserLockResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserLock">
    	<wsdl:input message="pm:deleteUserLockRequest"></wsdl:input>
    	<wsdl:output message="pm:deleteUserLockResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unlockUserLock">
    	<wsdl:input message="pm:unlockUserLockRequest"></wsdl:input>
    	<wsdl:output message="pm:unlockUserLockResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addOrEditAcademicPermission">
    	<wsdl:input message="pm:addOrEditAcademicPermissionRequest"></wsdl:input>
    	<wsdl:output message="pm:addOrEditAcademicPermissionResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAcademicPermission">
    	<wsdl:input message="pm:deleteAcademicPermissionRequest"></wsdl:input>
    	<wsdl:output message="pm:deleteAcademicPermissionResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAcademicPermission">
    	<wsdl:input message="pm:getAcademicPermissionRequest"></wsdl:input>
    	<wsdl:output message="pm:getAcademicPermissionResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PermissionsSOAP" type="pm:Permissions">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listPermissions">
      <soap:operation soapAction="http://remotelabs.eng.uts.edu.au/schedserver/permissions/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Permissions">
    <wsdl:port binding="pm:PermissionsSOAP" name="PermissionsSOAP">
      <soap:address location="http://remotelabs.eng.uts.edu.au:8080/SchedulingServer-Permissions/services/Permissions"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
