LocalRigProvider/resources/LocalRigProvider.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LocalRigProvider" targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/localrigprovider" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:lrp="http://remotelabs.eng.uts.edu.au/schedserver/localrigprovider">
  <wsdl:types>
    <xsd:schema targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/localrigprovider">
      <xsd:element name="registerRig" type="lrp:RegisterRigType">
      </xsd:element>
      <xsd:element name="registerRigResponse" type="lrp:ProviderResponse">
      </xsd:element>
      <xsd:element name="updateRigStatus" type="lrp:UpdateRigType">
      </xsd:element>
      <xsd:element name="updateRigStatusResponse" type="lrp:ProviderResponse">
      </xsd:element>
      <xsd:element name="removeRig" type="lrp:RemoveRigType">
      </xsd:element>
      <xsd:element name="removeRigResponse" type="lrp:ProviderResponse">
      </xsd:element>

      <xsd:complexType name="RegisterRigType">
      	<xsd:complexContent>
      		<xsd:extension base="lrp:RigType">
      			<xsd:sequence>
      				<xsd:element name="type" type="xsd:string">
      				</xsd:element>
      				<xsd:element name="capabilities" type="xsd:string">
      				</xsd:element>
      				<xsd:element name="status" type="lrp:StatusType">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="RigType">
            	<xsd:sequence>
            		<xsd:element name="name" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
    
      <xsd:complexType name="StatusType">
      	<xsd:sequence>
      		<xsd:element name="isOnline" type="xsd:boolean"/>
      		<xsd:element maxOccurs="1" minOccurs="0" name="offlineReason" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="ProviderResponse">
      	<xsd:sequence>
      		<xsd:element name="successful" type="xsd:boolean"/>
      		<xsd:element maxOccurs="1" minOccurs="0" name="errorReason" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="identityToken" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="UpdateRigType">
      	<xsd:complexContent>
      		<xsd:extension base="lrp:RigType">
      			<xsd:sequence>
      				<xsd:element name="status" type="lrp:StatusType">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>
    
      <xsd:complexType name="RemoveRigType">
      	<xsd:complexContent>
      		<xsd:extension base="lrp:RigType">
      			<xsd:sequence>
      				<xsd:element name="removalReason" type="xsd:string">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="updateRigStatusRequest">
    <wsdl:part name="parameters" element="lrp:updateRigStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRigResponse">
    <wsdl:part name="parameters" element="lrp:removeRigResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRigRequest">
    <wsdl:part name="parameters" element="lrp:removeRig">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerRigResponse">
    <wsdl:part name="parameters" element="lrp:registerRigResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRigStatusResponse">
    <wsdl:part name="parameters" element="lrp:updateRigStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerRigRequest">
    <wsdl:part name="parameters" element="lrp:registerRig">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LocalRigProvider">
    <wsdl:operation name="registerRig">
      <wsdl:input message="lrp:registerRigRequest">
    </wsdl:input>
      <wsdl:output message="lrp:registerRigResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRigStatus">
      <wsdl:input message="lrp:updateRigStatusRequest">
    </wsdl:input>
      <wsdl:output message="lrp:updateRigStatusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeRig">
      <wsdl:input message="lrp:removeRigRequest">
    </wsdl:input>
      <wsdl:output message="lrp:removeRigResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LocalRigProviderSOAP" type="lrp:LocalRigProvider">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="registerRig">
      <soap:operation soapAction="http://remotelabs.eng.uts.edu.au/schedserver/localrigprovider/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocalRigProvider">
    <wsdl:port name="LocalRigProviderSOAP" binding="lrp:LocalRigProviderSOAP">
      <soap:address location="http://remotelabs.eng.uts.edu.au:8080/schedserver/localrigprovider"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
