LocalRigProvider/resources/LocalRigProvider.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
                    ## Sahara Scheduling Server ##

Copyright (c) 2009, University of Technology, Sydney
All rights reserved.

Redistribution and use in source and binary forms, with or without 
modification, are permitted provided that the following conditions are met:

    * Redistributions of source code must retain the above copyright notice, 
      this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright 
      notice, this list of conditions and the following disclaimer in the 
      documentation and/or other materials provided with the distribution.
    * Neither the name of the University of Technology, Sydney nor the names 
      of its contributors may be used to endorse or promote products derived from 
      this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE 
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE 
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE 
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL 
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR 
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER 
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, 
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE 
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Michael Diponio (mdiponio)
Date: 5th February 2009
-->
<wsdl:definitions xmlns:lrp="http://remotelabs.eng.uts.edu.au/schedserver/localrigprovider" name="RigProvider" targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/localrigprovider"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
  <wsdl:types>
    <xsd:schema targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/localrigprovider">
      <xsd:element name="registerRig" type="lrp:RegisterRigType">
      </xsd:element>
      <xsd:element name="registerRigResponse"
      	type="lrp:ProviderResponse">
      </xsd:element>
      <xsd:element name="updateRigStatus" type="lrp:UpdateRigType">
      </xsd:element>
      <xsd:element name="updateRigStatusResponse"
      	type="lrp:ProviderResponse">
      </xsd:element>
      <xsd:element name="removeRig" type="lrp:RemoveRigType">
      </xsd:element>
      <xsd:element name="removeRigResponse"
      	type="lrp:ProviderResponse">
      </xsd:element>

      <xsd:complexType name="RegisterRigType">
      	<xsd:complexContent>
      		<xsd:extension base="lrp:RigType">
      			<xsd:sequence>
      				<xsd:element name="type" type="xsd:string">
      				</xsd:element>
      				<xsd:element name="capabilities"
      					type="xsd:string">
      				</xsd:element>
                            <xsd:element name="contactUrl" type="xsd:anyURI">
      				</xsd:element>
                            <xsd:element name="status"
      					type="lrp:StatusType">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="RigType">
            	<xsd:sequence>
            		<xsd:element name="name" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
      <xsd:complexType name="StatusType">
      	<xsd:sequence>
      		<xsd:element name="isOnline" type="xsd:boolean"></xsd:element>
      		<xsd:element name="offlineReason" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="ProviderResponse">
      	<xsd:sequence>
      		<xsd:element name="successful" type="xsd:boolean"></xsd:element>
      		<xsd:element name="errorReason" type="xsd:string"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="identityToken" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="UpdateRigType">
      	<xsd:complexContent>
      		<xsd:extension base="lrp:RigType">
      			<xsd:sequence>
      				<xsd:element name="status"
      					type="lrp:StatusType">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>
    
      <xsd:complexType name="RemoveRigType">
      	<xsd:complexContent>
      		<xsd:extension base="lrp:RigType">
      			<xsd:sequence>
      				<xsd:element name="removalReason"
      					type="xsd:string">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="registerRigRequest">
    <wsdl:part element="lrp:registerRig" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="registerRigResponse">
    <wsdl:part element="lrp:registerRigResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateRigStatusRequest">
  	<wsdl:part name="parameters" element="lrp:updateRigStatus"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRigStatusResponse">
  	<wsdl:part name="parameters" element="lrp:updateRigStatusResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRigRequest">
  	<wsdl:part name="parameters" element="lrp:removeRig"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRigResponse">
  	<wsdl:part name="parameters" element="lrp:removeRigResponse"></wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="RigProvider">
    <wsdl:operation name="registerRig">
      <wsdl:input message="lrp:registerRigRequest"/>
      <wsdl:output message="lrp:registerRigResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateRigStatus">
    	<wsdl:input message="lrp:updateRigStatusRequest"></wsdl:input>
    	<wsdl:output message="lrp:updateRigStatusResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeRig">
    	<wsdl:input message="lrp:removeRigRequest"></wsdl:input>
    	<wsdl:output message="lrp:removeRigResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="LocalRigProviderSOAP"
  	type="lrp:RigProvider">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="registerRig">
  		<soap:operation
  			soapAction="http://remotelabs.eng.uts.edu.au/schedserver/localrigprovider/registerRig" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="updateRigStatus">
  		<soap:operation
  			soapAction="http://remotelabs.eng.uts.edu.au/schedserver/localrigprovider/updateRigStatus" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="removeRig">
  		<soap:operation
  			soapAction="http://remotelabs.eng.uts.edu.au/schedserver/localrigprovider/removeRig" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RigProvider">
    <wsdl:port binding="lrp:LocalRigProviderSOAP" name="LocalRigProviderSOAP">
      <soap:address location="http://remotelabs.eng.uts.edu.au:8080/SchedulingServer-LocalRigProvider/services/LocalRigProvider"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
