Permissions/Permissions.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:pm="http://remotelabs.eng.uts.edu.au/schedserver/permissions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Permissions" targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/permissions">
  <wsdl:types>
    <xsd:schema targetNamespace="http://remotelabs.eng.uts.edu.au/schedserver/permissions">
      <xsd:element name="listPermissions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listPermissionsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUserClass" type="pm:UserClassID">
      </xsd:element>
      <xsd:element name="getUserClassResponse"
      	type="pm:UserClassType">
      </xsd:element>

      <xsd:complexType name="UserClassID">
      	<xsd:sequence>
      		<xsd:element name="classID" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="className" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="createOrEditUserClass" type="pm:UserClassType">
      </xsd:element>
      <xsd:element name="createOrEditUserClassResponse"
      	type="pm:OperationResponse">
      </xsd:element>

      <xsd:complexType name="UserClassType">
      	<xsd:complexContent>
      		<xsd:extension base="pm:UserClassID">
      			<xsd:sequence>
      				<xsd:element name="priority" type="xsd:int"
      					maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="isQueuable"
      					type="xsd:boolean" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="isKickable"
      					type="xsd:boolean" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="isUserLockable"
      					type="xsd:boolean" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="isActive"
      					type="xsd:boolean" maxOccurs="1" minOccurs="0">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>
    
      <xsd:complexType name="OperationResponse">
      	<xsd:sequence>
      		<xsd:element name="successful" type="xsd:boolean"></xsd:element>
      		<xsd:element name="failureReason" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deleteUserClass" type="pm:UserClassID">
      </xsd:element>
      <xsd:element name="deleteUserClassResponse"
      	type="pm:OperationResponse">
      </xsd:element>
      <xsd:element name="getPermission" type="pm:PermissionID">
      </xsd:element>
      <xsd:element name="getPermissionResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="createOrEditPermission">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="createOrEditPermissionResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="deletePermission">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="deletePermissionResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="PermissionID">
      	<xsd:sequence>
      		<xsd:element name="permissionID" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="listPermissionsRequest">
    <wsdl:part element="pm:listPermissions" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="listPermissionsResponse">
    <wsdl:part element="pm:listPermissionsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getUserClassRequest">
  	<wsdl:part name="parameters" element="pm:getUserClass"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserClassResponse">
  	<wsdl:part name="parameters" element="pm:getUserClassResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createOrEditUserClassRequest">
  	<wsdl:part name="parameters" element="pm:createOrEditUserClass"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createOrEditUserClassResponse">
  	<wsdl:part name="parameters" element="pm:createOrEditUserClassResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserClassRequest">
  	<wsdl:part name="parameters" element="pm:deleteUserClass"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserClassResponse">
  	<wsdl:part name="parameters" element="pm:deleteUserClassResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPermissionRequest">
  	<wsdl:part name="parameters" element="pm:getPermission"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPermissionResponse">
  	<wsdl:part name="parameters" element="pm:getPermissionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createOrEditPermissionRequest">
  	<wsdl:part name="parameters" element="pm:createOrEditPermission"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createOrEditPermissionResponse">
  	<wsdl:part name="parameters" element="pm:createOrEditPermissionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePermissionRequest">
  	<wsdl:part name="parameters" element="pm:deletePermission"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePermissionResponse">
  	<wsdl:part name="parameters" element="pm:deletePermissionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Permissions">
    <wsdl:operation name="listPermissions">
      <wsdl:input message="pm:listPermissionsRequest"/>
      <wsdl:output message="pm:listPermissionsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUserClass">
    	<wsdl:input message="pm:getUserClassRequest"></wsdl:input>
    	<wsdl:output message="pm:getUserClassResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createOrEditUserClass">
    	<wsdl:input message="pm:createOrEditUserClassRequest"></wsdl:input>
    	<wsdl:output message="pm:createOrEditUserClassResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserClass">
    	<wsdl:input message="pm:deleteUserClassRequest"></wsdl:input>
    	<wsdl:output message="pm:deleteUserClassResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPermission">
    	<wsdl:input message="pm:getPermissionRequest"></wsdl:input>
    	<wsdl:output message="pm:getPermissionResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createOrEditPermission">
    	<wsdl:input message="pm:createOrEditPermissionRequest"></wsdl:input>
    	<wsdl:output message="pm:createOrEditPermissionResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePermission">
    	<wsdl:input message="pm:deletePermissionRequest"></wsdl:input>
    	<wsdl:output message="pm:deletePermissionResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PermissionsSOAP" type="pm:Permissions">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listPermissions">
      <soap:operation soapAction="http://remotelabs.eng.uts.edu.au/schedserver/permissions/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Permissions">
    <wsdl:port binding="pm:PermissionsSOAP" name="PermissionsSOAP">
      <soap:address location="http://remotelabs.eng.uts.edu.au:8080/SchedulingServer-Permissions/services/Permissions"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
